@import "details.css";
@import url("https://fonts.googleapis.com/css2?family=Trispace:wght@400;500;700&display=swap");


h1 {
    text-align: center;
}

body {
    font-family: 'Trispace', sans-serif;
}

.selectMineral {
    list-style: none;
}

button {
    margin: 2rem;
    padding: .5rem;
    font-size: 1rem;
}

